<h1><%= @genre.name %></h1>

<h2>Filmes deste Gênero</h2>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>

<h2>Diretores com Este Gênero Favorito</h2>
<ul>
  <% @directors.each do |director| %>
    <li><%= director.name %></li>
  <% end %>
</ul>

<%= link_to 'Editar Gênero', edit_genre_path(@genre), class: 'btn' %>
<%= link_to 'Voltar aos Gêneros', genres_path %>
